:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.nav-btn {
  background-color: #0066ff !important;
  color: white !important;

}

.flex-col {
  flex-direction: column;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #E3E4E6;
  border-radius: 3px;
  opacity: 1;
}

*::-webkit-scrollbar-thumb {
  background-color: #072635;
  border-radius: 4px;
  height: 100px;
}

tr {
  cursor: pointer;
}



.red {
  background-color: rgba(224, 54, 54, 0.452);
  width: 24%;
  padding: 0 0.2em;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.1em;
}

.green {
  background-color: rgba(80, 213, 80, 0.822);
  width: 24%;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.gradient-bar {
  position: relative;
  width: 53vw;
  height: 6px;
  background: linear-gradient(to right, red, yellow, green);
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
}


.border-bottom {
  border-bottom: 1px solid rgb(203, 200, 200);
}

.text-end {
  text-align: end;
}

.column {
  display: grid;
}



p {
  font-size: 1.2rem;
}

#disc>a {
  text-decoration: none;
}

.table {
  max-height: 100px !important;
  overflow-y: auto;
}


.blur-filter {
  position: sticky !important;
  top: 0;
  z-index: 50;
  background: linear-gradient(135deg, #0c2135, #002a3c);
  backdrop-filter: blur(20px);
}

.breadcrumb-item {
  text-decoration: none;
}

.sticky {
  top: 101px;
  z-index: 50;
  position: sticky !important;
}

.table-wrapper {
  max-height: 75vh;
  overflow-y: scroll !important;
}

.height {
  height: 83vh;
}

.hero-container {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0px;
  background: linear-gradient(135deg, #001f3f, #00364d);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.hero-content {
  z-index: 10;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.hero-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.cta-button {
  background-color: #0066ff;
  color: white;
  border: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.cta-button:hover {
  transform: scale(1.05);
  box-shadow: 0px 10px 20px rgba(0, 102, 255, 0.5);
}

.floating-icons {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.icon {
  position: absolute;
  width: 50px;
  animation: float 6s infinite ease-in-out;
}

.icon1 {
  top: 20%;
  left: 20%;
  animation-delay: 0s;
}

.icon2 {
  top: 30%;
  right: 10%;
  animation-delay: 1s;
}

.icon3 {
  bottom: 32%;
  right: 12%;
  animation-delay: 2s;
}

.icon4 {
  top: 50%;
  left: 24%;
  animation-delay: 3s;
}

.icon5 {
  bottom: 5%;
  right: 18%;
  animation-delay: 4s;
}

.icon6 {
  top: 80%;
  left: 40%;
  animation-delay: 5s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width:660px) {
  .column {
    display: flex;
    flex-direction: column;
  }

  .icon3 {
    bottom: 28%;
    right: 12%;
  }

  .icon4 {
    top: 60%;
    left: 12%;
  }


}