:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.nav-btn {
  background-color: rgb(46, 91, 176) !important;
  color: white !important;

}

.flex-col {
  flex-direction: column;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: #E3E4E6;
  border-radius: 3px;
  opacity: 1;
}

*::-webkit-scrollbar-thumb {
  background-color: #072635;
  border-radius: 4px;
  height: 100px;
}

tr {
  cursor: pointer;
}



.red {
  background-color: rgba(224, 54, 54, 0.452);
  width: 24%;
  padding: 0 0.2em;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.1em;
}

.green {
  background-color: rgba(80, 213, 80, 0.822);
  width: 24%;
  border-radius: 3px;
  text-align: center;
  display: flex;
  align-items: center;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

.gradient-bar {
  position: relative;
  width: 55vw;
  height: 6px;
  background: linear-gradient(to right, red, yellow, green);
  border-radius: 4px;
}


.border-bottom {
  border-bottom: 1px solid rgb(203, 200, 200);
}

.text-end {
  text-align: end;
}

.column {
  display: grid;
}

@media only screen and (max-width:660px) {
  .column {
    display: flex;
    flex-direction: column;
  }
}

p {
  font-size: 1.2rem;
}

#disc>a {
  text-decoration: none;
}

.table {
  max-height: 100px !important;
  overflow-y: auto;
}

.blur-filter {
  position: sticky !important;
  top: 0;
  z-index: 50;
  background-color: #ffffff1a !important;
  backdrop-filter: blur(20px);
}

.breadcrumb-item {
  text-decoration: none;
}

.sticky {
  top: 101px;
  z-index: 50;
  position: sticky !important;
}

.table-wrapper {
  max-height: 75vh;
  overflow-y: scroll !important;
}

.height {
  height: 80vh;
}